footer {
  margin-top: 5rem;
}
.ft-contentBox {
  padding: 4rem 2rem;
  max-width: 1280px;
  margin: 0 auto;
}
.ft-gridBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  gap: 3.5rem;
}
.ft-gridBox h4 {
  text-transform: uppercase;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  color: rgb(156, 163, 175);
  font-family: 600;
  margin-bottom: 1rem;
}
.ft-gridBox .leftInfor {
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.ft-gridBox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ft-gridBox a {
    opacity: 1;
    color: rgb(107 114 128);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    align-items: center;
    border-bottom-width: 2px;
    border-color: transparent;
    text-decoration: inherit;
}
.ft-gridBox a:hover{
  color: rgb(55 65 81);
}
.bottomLogoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.bottomLogoBox img {
  width: 3.5rem;
  margin-bottom: 2rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.bottomLogoBox span {
  color: rgb(156, 163, 175);
}
.bottom {
  display: flex;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top-width: 2px;
  border-color: rgb(229 231 235);
  align-items: center;
  justify-content: space-between;
}
.bottom span {
  text-align: left;
  color: rgb(156, 163, 175);
  line-height: 1.5rem;
  font-size: 1rem;
}
.r-IconBox {
  display: flex;
  align-items: center;
}
.r-IconBox :nth-child(1) {
  width: 1.5rem;
  color: rgb(156, 163, 175);
  height: 1.5rem;
}
.r-IconBox :nth-child(n+2) {
  margin-left: 1.5rem;
}
.r-IconBox svg {
  width: 0.875em;
  vertical-align: -0.225em;
  font-size: 1.3333333333em;
  line-height: 0.75em;
}